# Database Settings
DB_NAME=gilanios
DB_USER=gilanios_admin
DB_PASSWORD=
DB_HOST=pgbouncer
DB_PORT=6432

# Redis
REDIS_URL=redis://redis:6379/0

# Django Settings
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=localhost,.localhost,127.0.0.1
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=
PUBLIC_TENANT_DOMAINS=localhost,127.0.0.1

# Frontend URL — set to http://localhost:5173 in dev, http://localhost in prod
FRONTEND_URL=http://localhost:5173

# OpenTelemetry
OTEL_ENABLED=True

# Kafka Settings
KAFKA_CLUSTER_ID=gilanios-cluster-id
